* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

header {
  height: 230px;
  padding: 20px 0 70px 0;
  background-image:url(../img/huntington.jpg);
  background-repeat:no-repeat;
}

h1, h2 {
  color: #fff;
}
h1 {
  font-family:Arial;
  font-size:60px;
  top: 20px;
  margin: 20px 0 0 55px;
}

h2 {
  margin-left:80px;
  color: #F2F2F2;
  font-size: 25px;
  font-style: italic;
}

h3 {
  margin:20px;
  color: #2e484c;
  font-family:sans-serif;
  font-size:35px;
}

p {
  margin:10px 0 0 30px;
  padding: 5px;
}

a {
  color: #0d8ba1;
  text-decoration: none;
}

a:visited {
    color: #1a5952;
}
  
a:hover, a:focus {
    color: #0599c2;
    text-decoration: underline;
}

footer {
  clear: both;
  padding:4%;
  background: #0B3B2E;
  text-align: center;
}

aside{
  display:inline-block;
  margin: 20px 0 0 100px;
}
 aside div{
  float: left;
  padding: 0  25px 0 80px;
 }

